@font-face {
  font-family: "Lato", "Arial", sans-serif;
  src: url('./lato/Lato-Regular.woff');
}

@font-face {
  font-family: "Oswald", "Arial", sans-serif;
  src: url('./oswald/oswaldregular.woff');
}
