
//Цвета
$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$special-grey-1:#ebebeb;
$special-grey-2: #cdcdcd;
$special-grey-3: #666666;
$special-grey-4: #444444;
$special-grey-5: #222222;
$status-error: #ff8282;
$basic-green-1: #5eaa2f;

//Шрифт
$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

//Размер
$tablet-width: 768px;
$dekstop-width: 1440px;
$mobile-width: 320px;