.additionally {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.additionally__img {
  @media (min-width: 768px) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85)), url("../images/background-image-catalog@1x.png");
    margin-top: 70px;
    width: auto;
    min-height: 200px;
    background-position: 0 -400px;
    background-size: cover;
  }
}

.additionaly__text {
  @media (min-width: 768px) {             ///текст как через абсолют или как
    color: #ffffff;
    margin: 0;
  }
}
