.additionally {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (min-width: 1440px) {
    flex-direction: column;
  }
}

.additionally__text {
  @media (min-width: 768px) {
    background-image: url("/images/background-image-catalog.jpg");
    margin-top: 70px;
    min-height: 200px;
    color: $basic-white;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
  }

  @media (min-width: 1440px) {
    background-image: url("/images/background-image-catalog-desktop.jpg");
    min-height: 288px;
    min-width: 245px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    margin-left: 81px;
  }
}

.additionally__block {
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.additionally__column {
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
  }
}
