.additionally {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (min-width: 1440px) {
    flex-direction: column;
  }
}

.additionally__text {
  background-image: url("/images/background-image-mobile-catalog.jpg");
  min-width: 280px;
  min-height: 290px;
  margin-top: 35px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @media (min-width: 768px) {
    background-image: url("/images/background-image-catalog.jpg");
    margin-top: 70px;
    min-height: 200px;
    color: $basic-white;
    justify-content: space-between;
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    background-image: url("/images/background-image-catalog-desktop.jpg");
    min-height: 288px;
    min-width: 245px;
    margin-top: 0;
    flex-direction: column;
    margin-left: 81px;
  }
}

.additionally__block {
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.additionally__column {
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
  }
}
