.button {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-right: 0;
    padding-left: 120px;
    padding-top: 29px;
  }

  @media (min-width: 1440px) {
    padding-right: 0;
    padding-left: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.button--size {
  padding: 10px 44px;
}

.button--color-green {
  background-color: #68b738;
  border: none;
}

.button--color-green:hover {
  background-color: #5eaa2f;
}

.button:active {
  filter: brightness(0.7);
}

.button--catalog {
  @media (min-width: 768px) {
    margin-top: 32px;
    position: relative;
    margin-bottom: 40px;
  }
}

.button--size-l {
  @media (min-width: 768px) {
    padding: 10px 94px;
  }
}

.button--text {
  @media (min-width: 768px) {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.button--color-grey {
  @media (min-width: 768px) {
    background-color: #f2f2f2;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    padding: 10px 80px;
  }
}

.button--additionally {
  @media (min-width: 768px) {
    grid-column: 1/3;
    margin-bottom: 28px;
    padding: 10px 0;
  }
}
