.button {
  padding: 10px 44px;
  border: none;
  cursor: pointer;
  margin: 0 auto;

  @media(min-width: 768px) {
    padding: 14px 26px;
  }

  @media(min-width: 1440px) {
    padding: 14px 26px;
  }
}

.button--color-green {
  background-color: #68b738;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  filter: brightness(0.7);
}
