.button {
  padding-left: 20px;
  padding-right: 20px;

  @media(min-width: 768px) {
    padding-right: 0;
    padding-left: 120px;
    padding-top: 29px;
  }

  @media(min-width: 1440px) {
    padding-right: 0;
    padding-left: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.button--size {
  padding: 10px 44px;
}

.button--color-green {
  background-color: #68b738;
  border: none;
}

.button--color-green:hover {
  background-color: #5eaa2f;
}

.button:active {
  filter: brightness(0.7);
}

