.check-list__item {
  display: flex;
  flex-direction: row;
  padding-bottom: 22px;
  align-items: center;
  counter-increment: item-counter;

  @media (min-width: 768px) {
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-height: 280px;
  }

  @media (min-width: 1440px) {
    margin: 0;
  }
}

.check-list__item::before {
  @media (min-width: 768px) {
    content: counter(item-counter);
    position: absolute;
    font-family: $primary-font;
    color: $basic-grey;
    font-size: 280px;
    z-index: 0;
    transform: translateX(170px);
  }
}

.check-list__item:last-child {
  padding-bottom: 0;

  @media (min-width: 768px) {
    padding-bottom: 0;
  }
}

.check-list__item:nth-child(-n+2) {
  @media (min-width: 768px) {
    margin-bottom: 80px;
  }

  @media (min-width: 1440px) {
    margin: 0;
  }
}

.check-list__img {
  background-color: #68b738;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: 768px) {
    place-self: flex-start;
    min-width: 80px;
    min-height: 80px;
  }
}

.check-list {
  padding-bottom: 49px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 2fr 2fr;
    border-bottom: 1px solid #e6e6e6;
    counter-reset: item-counter;
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    gap: 95px;
    padding: 0;
    border-bottom: none;
    padding-bottom: 69px;
  }
}
