.content-header {

  @media(min-width: 768px) {
    display: flex;
    flex-direction: column;
    background-image: none;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }

  @media(min-width: 1440px) {
    display: flex;
    flex-direction: row;
    background-image: none;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }
}

.content-header__title {
  padding-left: 35px;
  padding-right: 35px;
  overflow-wrap: break-word;
  max-width: 100%;
  padding-top: 27px;

  @media(min-width: 768px) {
    padding-bottom: 40px;
  }

  @media(min-width: 1440px) {
    padding-bottom: 40px;
  }
}

.content-header__subtitile {
  @media(min-width: 768px) {
    padding-bottom: 50px;
  }

  @media(min-width: 1440px) {
    padding-bottom: 52px;
  }
}
