.footer__text {
  display: flex;
  flex-direction: row;
  padding: 26px 20px;
  background-color: $basic-white;

  @media (min-width: 768px) {
    padding: 60px 70px;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    position: absolute;
    margin-top: 95px;
    margin-left: 110px;
    padding: 60px 80px;
    justify-content: start;
  }
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.footer__logo:hover path {
  fill: $special-grey-8;
}

.footer__logo:active path {
  opacity: 0.5;
}

.footer__social-items {
  position: relative;
}

.footer__social-items::after {
  content: "";
  position: absolute;
  border: 1px solid $special-grey-7;
  transform: translate(-25%);
  min-width: 238px;

  @media (min-width: 768px) {
    display: none;
  }
}

.footer__social-elements {
  display: flex;
  gap: 25px;
  padding: 20px 0;
  color: $special-grey-3;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.footer__elements {
  fill: $special-grey-3;
}

.footer__elements:hover path {
  fill: $basic-green;
}

.footer__elements:active path {
  opacity: 0.5;
}

.footer__lead {
  @media (min-width: 768px) {
    text-align: end;
  }

  @media (min-width: 1440px) {
    text-align: start;
  }
}

.footer__catalog--stocks {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.footer__catalog--stocks__title {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    white-space: nowrap;
    margin-left: -70px;
    margin-right: -68px;
  }
}

.footer__catalog--stocks__title::before,
.footer__catalog--stocks__title::after {
  @media (min-width: 768px) {
    content: "";
    height: 2px;
    background-color: $basic-green;
  }
}

.footer__catalog--stocks__title::before {
  @media (min-width: 768px) {
    width: 30px;
  }
}


.footer__catalog--stocks__title::after {
  @media (min-width: 768px) {
    flex: 1;
  }
}

.footer__content {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 66px;
  }

  @media (min-width: 1440px) {
    padding-top: 72px;
  }
}

.footer__logo-html {
  padding: 20px 0 40px;
}

.footer__color {
  background-color: $basic-grey;

  @media (min-width: 1440px) {
    background-color: $basic-white;
  }
}
