.row {
  @media (min-width: 768px) {
    border: 1px solid #cdcdcd;
    padding-left: 38px;
    padding-right: 40px;
  }
}

.row__caption {
  @media (min-width: 768px) {
    padding-bottom: 25px;
  }
}

.row__text {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-top: 26px;
  }
}

.row__span {
  @media (min-width: 768px) {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}
