.subtitle {
  font-family: $primary-font;
  font-weight: 400;
  margin: 0;
}

.subtitle--color-black {
  color: $basic-black;
}

.subtitle--color {
  color: $basic-white;

  @media (min-width: 768px) {
    color: $basic-black;
  }

  @media (min-width: 1440px) {
    color: $basic-black;
  }
}

.subtitle--size-l {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.subtitle--size-s {
  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.subtitle__transfer {
  display: block;

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1440px) {
    display: block;
  }
}

.subtitle__transfer-catalog {
  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1440px) {
    display: inline;
  }
}

.subtitle__transfer-2 {
  @media (min-width: 1440px) {
    display: inline;
    padding-left: 63px;
  }
}
