.text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;

  @media(min-width: 768px) {
  }
}

.text--active--color {
  color: #000000;
  text-decoration: none;

  @media(min-width: 768px) {
    color: #000000;
    text-decoration: none;
  }

  @media(min-width: 1440px) {
    color: #ffffff;
    text-decoration: none;
  }
}

.text--active--color:hover {
  opacity: 0.7;
}

.text--active--color:active {

  @media(min-width: 768px) {
    opacity: 1;
    border-bottom: 2px solid #68b738;
  }

  @media(min-width: 1440px) {
    opacity: 1;
    border-bottom: 2px solid #ffffff;
  }
}

.text--color-white {
  color: #ffffff;
}

.text--active-black {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 22px;
  text-transform: uppercase;

  @media(min-width: 768px) {
    font-size: 20px;
    line-height: 100%;
  }

  @media(min-width: 1440px) {
    padding: 0;
  }
}

.text--size {
  font-size: 16px;
  line-height: 20px;
}
