.text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.text--active-white {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
